Emails can start with numbers in the domain

![image.png](https://raw.githubusercontent.com/tanyjnaaman/pe/main/files/43b065e6-0343-4d77-bdee-a2eb86080652.png)

Should not be valid, as valid domains do not start with numbers.


<!--session: 1650087638623-2fac61a1-97b1-44cd-a81a-722d47abe495-->
<!--Version: Web v3.4.2-->

# Team's Response
This is a duplicate of #342. Both of them refer to starting the domain with a number. Fixing issue #342 will also fix #335

## The 'Original' Bug

[The team marked this bug as a duplicate of the following bug]

># Email domain can start with number
>
>![image.png](https://raw.githubusercontent.com/nus-cs2103-AY2122S2/pe/master/files/dca59739-f55f-4066-a700-135413c2bcc4.png)
>
>
>
>
>
>
>
><hr>
><sub>[original: nus-cs2103-AY2122S2/pe-interim#223] [original labels: severity.Low type.FunctionalityBug]</sub>
>
>
><!--session: 1650092924790-03aeefec-09a4-4c31-967a-69783b43c95f--><!--Version: Web v3.4.2-->

## Their Response to the 'Original' Bug

[This is the team's response to the above 'original' bug]

>This is not a bug.
>
>According to the official email standards by [RFC 5321 Section 2.3.5](https://datatracker.ietf.org/doc/html/rfc5321#section-2.3.5), domain names may be dotless, 
>or in other words, do not require a subdomain component. This may be the case for TLD level email addresses or local networks where domains are likewise dotless. In particular, the document states the follwoing 
>
>"A domain name (or often just a "domain") consists of one or more components, separated by dots if more than one appears. In the case of a top-level domain used by itself in an email address, a single string is used without any dots."
>
>This is also shown in the [Wikipedia](https://en.wikipedia.org/wiki/Email_address#Examples) (screenshot below)
>
>![image.png](https://raw.githubusercontent.com/nus-cs2103-AY2122S2/pe/master/files/ddbad312-41cc-4bbe-abf6-2e063bc58d67.png)


# Items for the Tester to Verify
## :question: Issue duplicate status

Team chose to mark this issue as a duplicate of another issue (as explained in the _**Team's response**_ above)



- [ ] I disagree

**Reason for disagreement:** [replace this with your explanation]

-------------------
## :question: Issue response

Team chose [`response.Rejected`]



- [ ] I disagree

**Reason for disagreement:** [replace this with your explanation]

-------------------
## :question: Issue type

Team chose [`type.FeatureFlaw`]
Originally [`type.FunctionalityBug`]

- [ ] I disagree

**Reason for disagreement:** [replace this with your explanation]

-------------------
