Capitalization is permitted in ".com" (later) part of emails

![image.png](https://raw.githubusercontent.com/tanyjnaaman/pe/main/files/5dba5c80-1bc0-450f-bb4e-45f1daa0874c.png)

In this example, .Com is permitted. Expectation would be that a warning would be released, or this is not permitted as a valid email format.


<!--session: 1650087638623-2fac61a1-97b1-44cd-a81a-722d47abe495-->
<!--Version: Web v3.4.2-->

# Team's Response
This is not a bug.

According to the official email standards by [RFC 5321 Section 2.3.5](https://datatracker.ietf.org/doc/html/rfc5321#section-2.3.5), there is no specification that email domains are case sensitive. In fact, the email provided in your example is a valid email.

The official standards only states that "A domain name (or often just a "domain") consists of one or more components, separated by dots if more than one appears. In the case of a top-level domain used by itself in an email address, a single string is used without any dots."

Another explanation is provided in [this stack overflow answer](https://stackoverflow.com/questions/9013726/did-capitals-ever-matter-in-email-addresses), which screenshot is also provided below.

![image.png](https://raw.githubusercontent.com/nus-cs2103-AY2122S2/pe/master/files/277dc99c-a38a-448a-8bb7-c5b857c197a2.png)


# Items for the Tester to Verify
## :question: Issue response

Team chose [`response.Rejected`]



- [ ] I disagree

**Reason for disagreement:** [replace this with your explanation]

-------------------
